@import "https://unpkg.com/open-props";

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

}

p {
  margin-bottom: 0;
}
body{

}
/* .bg{
  background: url(../images/1block/f1.png);
} */
.bg {
  background: url(../images/1block/f1.webp)

}

.main {
  position: relative;
}

.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 1000;
}

/* /////////////////// */
.hero-section {
  padding: 12rem 0 10rem 0;
  display: flex;
}

.hero-left {
  display: flex;
  flex-direction: column;
}

.hero__left-title {
  margin-bottom: 39px;
}

.fulltext {
  background-color: #89FF00;
  color: #161616;
  font-family: 'sfpro', sans-serif;
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 24px);
  font-weight: 800;
  line-height: normal;
}

.greentext {
  color: #89FF00;
}

.hero-title1 {
  color: #FFF;
  font-family: 'sfpro', sans-serif;
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 24px);
  font-weight: 800;
  line-height: normal;

}

.hero-title2 {
  color: #FFF;
  font-family: 'Astrolab';
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 44px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-title3 {
  color: #FFF;
  font-family: 'Astrolab';
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 27px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__left-descr {
  color: #FFF;
  font-family: 'sfpro';
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 20px);
  font-style: normal;
  font-weight: 500;
}

.sf800 {
  font-family: 'sfpro';
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 20px);
  font-weight: 800;
}

.sf900 {
  font-family: 'sfpro';
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 20px);
  font-weight: 900;
}

.descr-top {
  line-height: 0.9;
  margin-bottom: 16px;
}

.descr-bot {}

.descr-but {
  color: #161616;
  text-align: center;
  font-family: 'sfpro';
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 23px);
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 25px;
  background: #FAFF00;
  max-width: 350px;

}

.hero-right {
  position: relative;

}

.right-ts {
  position: absolute;
  top: -156px;
  right: -678px;
}

.right-bs {
  position: absolute;
  top: 298px;
  left: 134px;
}

.right-cat1 {
  position: absolute;
  right: -406px;
  top: 49px;
  z-index: 1;
}

.right-rec {
  position: absolute;
  top: 0;
  left: 0;
}

.right-cat2 {
  position: absolute;
  top: 275px;
  right: -209px;
  z-index: 0;
}

.about {
  position: relative;
}

.about-top {
  padding-bottom: 120px;
}

.about-list {
  display: flex;
  justify-content: space-between;

}

.about__list-element {
  padding: 25px 20px;
  width: 100%;
  max-width: 175px;
  background: #89FF00;
  text-align: center;
}

.about__list-element span {
  color: #000;
  text-align: center;
  font-family: 'sfpro';
  font-size: 60px;
  font-weight: 800;

  line-height: normal;
}

.about__list-element p {
  color: #000;
  text-align: center;
  font-family: 'sfpro';
  font-size: 23px;
  font-weight: 600;
  line-height: normal;
}
.img-mob{
  display: none;
}
.about-bot {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.img-box {}

.about__bot-txt {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.about__txt-title {
  color: #FFF;
  font-family: 'Astrolab';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__txt-descr {
  color: #FFF;
  font-family: 'sfpro';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 144.375%;
  /* 37.538px */
}

.about-cit {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 135px;
}

.cit-kav {
  position: absolute;
  top: -60px;
  left: 0;
  z-index: 0;
}

.cit-txt {
  color: #FFF;
  font-family: 'Astrolab';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 144.375%;
  /* 34.65px */
}

.cit-obrkav {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 0;
}

.cit-but {
  color: #161616;
  text-align: center;
  font-family: 'sfpro';
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  background: #FAFF00;
  padding: 20px 40px;
  max-width: 250px;

}
.right-lap1{
  position: absolute;
  left:-344px;
top: 432px;
}
.right-lap2{
  position: absolute;
  left:-298px;
top: 400px;
}
.right-lap3{
  position: absolute;
  left:-323px;
top: 350px;
}
/*  */
.buts {
  transition: all .3s;
}

.buts:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px 2px rgba(255, 236, 29, 0.534);
  color: #000;
}

@keyframes slideleft{
  from{
    transform: translateX(-400px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.anim_slide1{
  animation-name: slideleft;
  animation-direction: alternate;
   transform-origin: center;

  animation-duration: 1s;

  animation-fill-mode: both;
}
.anim_slide2{
  animation-name: slideleft;
  animation-direction: alternate;
   transform-origin: center;

  animation-duration: 2s;

  animation-fill-mode: both;
}
.anim_slide3{
  animation-name: slideleft;
  animation-direction: alternate;
   transform-origin: center;

  animation-duration: 3s;

  animation-fill-mode: both;
}

@keyframes rotateup1{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(15px);
  }
}
.anim_roup{
  animation: infinite;
  animation-name: rotateup1;
  animation-direction: alternate;
   transform-origin: center;

  animation-duration: 2s;

  animation-fill-mode: both;
}
@keyframes rotateup{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(25px);
  }
}
.animate_rotateup{
  animation: infinite;
  animation-name: rotateup;
  animation-direction: alternate;
   transform-origin: center;

  animation-duration: 2s;

  animation-fill-mode: both;
}

@keyframes rotateIn {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(1.2);
    opacity: 1;
  }
}
.roadmap__phases-mob {
  display: none;
}

.animate__rotateIn {
  animation: infinite;
  animation-name: rotateIn;
  animation-direction: alternate;
  transform-origin: center;

  animation-duration: 1s;

  animation-fill-mode: both;
}

.about-rs {
  position: absolute;
  right: 0;
  top: 50%;
}

.about-ls {
  position: absolute;
  top: 32%;
  left: 13%;
}

.about-star {
  position: absolute;
  top: 36%;
  left: 4%;
}
.cit-laps {
  position: absolute;
  top: 51px;
  right: 372px;
  max-width: 80px !important;
}

.roadmap-title {
  color: #FFF;
font-family: 'Astrolab';
font-size: 40px;

font-weight: 400;
line-height: normal;
margin-bottom: 5rem;
}

.roadmap__phases-desk {
  display: flex;
  flex-direction: column;
}
.phases-titles {
display: flex;
flex-direction: row;
justify-content: space-between;

}
.phases__titles-el {
  color: #FFF;
font-family: 'Astrolab';
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.phases-line {
}
.phases-deskr {
  display: flex;
  justify-content: space-between; 
  padding-bottom: 70px;
}
.phases__deskr-el {
  color: #FFF;
  font-family: 'sfpro';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110.386%; /* 16.558px */
  max-width: 195px;
}
.roadmap-rsrec{
  position: absolute;
  top: -400px;
  right: 0;
}
.roadmap{
  position: relative;
}
.roadmap-leftcircl{
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 100;
}
@keyframes blink {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.anim-blink1{
  animation: blink 5s infinite alternate ;
}
.anim-blink2{
  animation: blink 10s infinite alternate ;
}
.anim-blink3{
  animation: blink 20s infinite alternate ;
}
.cats{
  position: relative;
}
.catsp{
  padding-bottom: 4rem;
}
.cats-title {
  color: #FFF;
font-family: 'Astrolab';
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cats-inner {
  display: flex;
  flex-direction: column;
}
.cats-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:3rem ;
  
}
.cats-top span{
  color: #FFF;
font-family: 'sfpro';
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 144.375%; /* 37.538px */
max-width: 580px;
}
.cats-bot {
  display: flex;
align-items: center;
padding-bottom: 6rem;
}

.cats-but {
  color: #161616;
  text-align: center;
  font-family: 'sfpro';
  font-size: 39px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
background: #FAFF00;
padding: 20px 58px;
position: relative;
z-index: 1;
}
.cats-socials {
  border-radius: 50px;
border: 4px solid #89FF00;
background: rgba(137, 255, 0, 0.15);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.socials-title {
  color: #FFF;
text-align: center;
font-family: 'Astrolab';
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 3rem;
}
.socials-icons {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.socials-icons a{
  margin-right: 9rem;
  transition: all .3s;
}
.socials-icons a:last-child{
  margin-right: 0;
}
.socials-icons a:hover img{
transform: scale(1.1);
}
.yeti{
position: relative;
display: flex;
}
.cats-planet{
position: absolute;
top: -108px;
right: 29px ;
z-index: 0;

}

.buts:active{
  transform: scale(1);
}
@keyframes rotating {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.anim-rotat{
  animation: rotating 10s infinite linear;
}
.cats-rs{
  position: absolute;
  top: -71px;
  right: 97px  ;
  transform: rotate(160deg);
}
.cats-rds{
  position: absolute;
  top: 676px;
  right: -150px;
}
.cats-laps{
  position: absolute;
  top: -136px;
  right: -96px;
}
@media(max-width:600px){
  .hero-section{
    padding: 6rem 2rem 6rem 2rem;
  }
.about-list{
  display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px ;
}
.right-rec{
  display: none;
}
.descr-but{
  max-width: 150px;
  padding: 10px;
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 20px);
}
.about-list{
  justify-content: center;
  align-items: center;
}
.about__list-element{
  max-width: 240px;
  margin-bottom: 25px;
  padding: 20px 0 ;
}
.right-imgbox{
  position: relative;
}
.right-imgbox img{
  max-width: 120px;
}
.about__txt-title{
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 23px);
}
.img-box img{
max-width: 180px;
width: 100%;
min-width: 100px
}
.about__txt-descr{
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 13px);
}
.about__bot-txt{
  margin-left: 20px;
}
.about__bot-txt{
  max-width: 250px;
}
.cit-txt{
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 12px);
  max-width: 350px;
  text-align: center;
}
.hero-title2{
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 30px);
}
.hero-title3{
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 23px);
}
.hero__left-title{
  margin-bottom: 20px;
}
.container{
  max-width: 450px  ;
  padding: 0 20px;
}
.about__list-element span{
  font-size:calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 30px) ;
}
.about__list-element p{
  font-size:calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 15px) ;
}
.cit-obrkav{
max-width: 30px;
width: 100%;
right: 40%;
}
.cit-kav{
  max-width: 30px;
  width: 100%;
}
.about-top{
  padding-bottom: 30px;
}
ul{
  padding-left: 0;
}
.roadmap-rsrec{
max-width: 150px;

  position: absolute;
  top: 289px;
  right: 0;
}
.roadmap__phases-desk{
  display: none;
}
.cats-title{
  padding-top: 2rem;
  font-size:calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 23px) ;

}
.cats-top img{
  display: none;
}
.cats-top span{
  margin-top: 2rem;
  font-size:calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 15px) ;
}
.cats-bot img{
  max-width: 135px;
  width: 100%;
  z-index: -1;
}

.roadmap__phases-mob {
  display: flex;
}
.roadmap__img-box {
margin-right: 2rem;
}
.mob-phases-list {
  display: flex;
  flex-direction: column;
}
.mob-phases-list li{
  margin-bottom: 2.4rem;
}
.mob-phases-list li:nth-child(3){
  margin-bottom: 2rem;
}
.mob-phases-list li:nth-child(2){
  margin-bottom: 2rem;
}
.moblist-title {
  color: #89FF00;
font-family: 'Astrolab';
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.mob-phases-list p{
  color: #FFF;
font-family: 'sfpro';
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 110.386%; /* 12.142px */
}
.socials-title{
  font-size:calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 15px) ; 
  padding-top: 1rem;
}
.socials-icons img{ 
max-width: 30px;
}
.socials-icons{
  padding-bottom: 1rem;
}
.socials-icons a{
  margin-right: 2rem;
}
.cats-imbox{
  display: flex;
}
.cats-bot{
  flex-direction: column;
}
.cats-but{
  align-self: flex-start;
  margin-top: 5rem;
  font-size:calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 15px) ; 
  padding: 10px 31px;
  position: relative;
  z-index: 100;
}
.cats-planet{
  top:15px  ;
  right: 5px;
  z-index: 0;
}
.mx-3{
  margin-left: 0 !important;
}
.roadmap-leftcircl{
  max-width: 150px;
  top: -200px;
  left: -20px;
}
.catsp{
  padding-bottom: 5rem;
}
.cats-socials{
  border-radius: 10px;
border: 2px solid #89FF00;
background: rgba(137, 255, 0, 0.15);
}
.img-mob{
  display: block;
}
.cit-laps{
  top: 35px;
  right: 3px;
}
.cit-laps{
max-width: 90px;
}
.cats-bot{
  align-items: flex-start;
}
.roadmap-title{
 font-size:  calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 23px);
 margin-bottom: 3rem;
}
.cats-laps{
  max-width: 80px !important;
  top: -12px  ;
  right: -66px;
}
.right-cat1 {
  position: absolute;
  right: -44px;
  top: 113px;
  z-index: 1;
}
.right-cat2 {
  position: absolute;
  top: 215px;
  right: 27px;
  z-index: 0;
}
.right-bs {
  position: absolute;
  top: 209px;
  left: -88px;
  max-width: 165px !important;
}
.right-ts {
  position: absolute;
  top: 366px;
  right: 276px;
}
.right-lap3 {
  position: absolute;
  left: -217px;
  top: 253px;
  max-width: 30px !important;
}
.right-lap2 {
  position: absolute;
  left: -206px;
  top: 280px;
  max-width: 30px !important;
}
.right-lap1 {
  position: absolute;
  left: -179px;
  top: 243px;
  max-width: 30px !important;
}
.about-rs {
  position: absolute;
  right: 0;
  top: 74%;
}
.cit-kav {
  position: absolute;
  top: -36px;
  left: 0;
  z-index: 0;
}
.about-star {
  position: absolute;
  top: 60%;
  left: 75%;
}
.about-cit{
  padding-bottom: 4rem;
}
.about-bot{
  padding-bottom: 5rem;
}
.cats-bot{
padding-bottom: 2rem;}
}
@media(max-width:410px){
  .hero-title1 {
    font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 18px);
}
.hero-title2 {
    font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 20px);
}
.hero-title3 {
    font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 15px);
}
.right-imgbox img {
    max-width: 100px;
}
.right-ts {
    position: absolute;
    top: 366px;
    right: 276px;
}
.right-bs {
  position: absolute;
  top: 150px;
  left: -21px;
  max-width: 145px !important;
}
.right-cat2 {
    position: absolute;
    top: 118px;
    right: -2px;
    z-index: 0;
}
.about__txt-title {
    font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
}
.hero__left-descr {

  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 15px);

}
.sf800{ font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 15px); }
.sf900{
  font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 15px);
}
.hero-section{
  padding-left: 0;
  padding-right: 0;
}
.right-cat1 {
  position: absolute;
  right: -107px;
  top: 74px;
  z-index: 1;
}
.right-cat2 {
  position: absolute;
  top: 137px;
  right: -28px;
  z-index: 0;
}
.right-lap1{
  display: none;
  
}
.right-lap2{
  display: none;

}
.right-lap3{
  display: none;

}
}